body,
p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* button {
  cursor: pointer;
}

.header {
  padding: 16px 30px;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.nav {
  width: 100%;
  max-width: 1124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav .nav__location {
  position: relative;
}
.nav .nav__location .location__input-from {
  height: 40px;
  width: 65px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}
.nav .nav__location .location__input-from::placeholder, .nav .nav__location .location__input-from {
  color: #1D1D1D;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  line-height: 24px;
}
.nav .nav__location .nav__location-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
  margin: 0 6px;
}
.nav .nav__location .location__input-to {
  height: 40px;
  width: 300px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding-left: 30px;
}
.nav .nav__location .location__input-to::placeholder, .nav .nav__location .location__input-to {
  color: #1D1D1D;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  line-height: 24px;
}
.nav .nav__location .location__logo {
  position: absolute;
  left: 105px;
  top: 10px;
}
.nav .nav__items {
  display: flex;
  align-items: center;
}
.nav .nav__items .nav__button-singIn {
  height: 40px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}
.nav .nav__items .nav__button-singIn .button__link-singIn {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: #1D1D1D;
}
.nav .nav__items .nav__button-register {
  height: 40px;
  width: 80px;
  background: #262626;
  border-radius: 2px;
  border: none;
  margin: 0 10px;
}
.nav .nav__items .nav__button-register .button__link-register {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
}

.main {
  padding: 0 10px;
}

.container {
  max-width: 1124px;
  width: 100%;
  margin: 30px auto 20px;
}
.container .container__search-line {
  border-bottom: 1px solid #E0E0E0;
  position: relative;
  padding-bottom: 15px;
  margin: 50px 0;
}
.container .container__search-line .search-input {
  width: 100%;
  border: none;
  padding: 0 35px;
  outline: none;
}
.container .container__search-line .search-input::placeholder, .container .container__search-line .search-input {
  color: #626262;
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.container .container__search-line .search-shape {
  position: absolute;
  top: 0;
  left: 10px;
}

.restourants__location-text {
  font-family: "Roboto", "sans-serif";
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 20px;
}

.restourants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.restourants__cards .container__card {
  margin-bottom: 20px;
}
.restourants__cards .card__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-around;
}
.restourants__cards .card__description .description__text {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #1D1D1D;
}
.restourants__cards .card__description .description__category {
  font-family: "Roboto", "sans-serif";
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}
.restourants__cards .card__description .description__delivery-time {
  font-family: "Roboto", "sans-serif";
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
}

.footer {
  margin-top: 50px;
  background-color: #262626;
  padding: 0 10px 30px;
}
.footer .footer__container {
  max-width: 1124px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.footer .footer__container .footer__container-logo {
  padding: 60px 0 40px;
  border-bottom: 1px solid #ffffff57;
}

.footer__container-info {
  padding: 30px 0 55px;
  border-bottom: 1px solid #ffffff54;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__container-info .language__container {
  position: relative;
}
.footer__container-info .languages-social-links {
  width: 290px;
  height: 40px;
  padding: 0 50px;
  background: #3B3B3B;
  border-radius: 2px;
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #fff;
  line-height: 15px;
  appearance: none;
  -webkit-appearance: none;
}
.footer__container-info .arrow-for-select {
  position: absolute;
  top: 16px;
  left: 256px;
}
.footer__container-info .world-icon {
  position: absolute;
  left: 16px;
  top: 11px;
}
.footer__container-info .htag-uber-eats {
  padding: 20px 0;
}
.footer__container-info .htag-uber-eats a {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.footer__container-info .htag-uber-eats a span {
  color: #49A144;
}
.footer__container-info .about-us-list, .footer__container-info .addition-info-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.footer__container-info .about-us-list li a, .footer__container-info .addition-info-list li a {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

.links-to-market {
  height: 150px;
  border-bottom: 1px solid #ffffff6b;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.links-to-market a {
  margin: 0 20px;
}

.copyright-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.copyright-items li a {
  font-family: "Roboto", "sans-serif";
  font-size: 11px;
  line-height: 13px;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
