$main-color-font:#1D1D1D;
$main-font: "Roboto","sans-serif";
$breackpoint-small-device: 500px;

@import 'reset';

@mixin form-text-desctioption {
  color: $main-color-font;
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;
}

@mixin form-label-style {
  font-family: $main-font;
  color: #626262;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 5px;
}

@media (max-width: 450px) {
  .header {
  padding: 15px 20px;

    .nav {
    padding: 0;
    justify-content: space-around;

      .nav__location {
        display: none;
      }
    }
  }
  .button__basket-add {
    display: none;
  }

  .nav__location-min {
    margin: 45px 0px;

    form {
      display: flex;
      justify-content: space-around;

      label {
       @include form-label-style;
      }

      .location__input-time {
        height: 40px;
        width: 65px;
        padding: 10px;
        border: 1px solid #E0E0E0;
        border-radius: 2px;
      }
    }

    .when, .to {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .location__input-to::placeholder,.location__input-to {
      @include form-text-desctioption;
    }
    .location__input-time::placeholder,.location__input-time {
      @include form-text-desctioption;
    }

    .location__input-to {
      height: 40px;
      border: 1px solid #E0E0E0;
      border-radius: 2px;
      padding-left: 30px;
    }

    .location__logo {
      position: absolute;
      top: 29px;
      left: 10px;
    }
  }

  .restourants__cards {
    flex-direction: column;
    align-items: center;

  }

  .footer__container-info {
    flex-direction: column;
  }

  .languages-social-links {
    width: 180px;
  }

  .arrow-for-select {
    left: 155px;
  }

  .about-us-list, .addition-info-list {
    padding: 0;
    margin: 20px 0 0;

    li {
      margin: 10px 0;
    }
  }

  .addition-info-list {
    margin: 0;
  }

  .copyright-items {
    flex-direction: column;
    padding: 0;

    li {
      margin-top: 10px;
    }
  }




}

.header {
  padding: 16px 0;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
  padding: 0 50px;

}

.nav__button-singIn {
  height: 40px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;

  .button__link-singIn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    color: $main-color-font;
  }
}

.nav__button-register {
  height: 40px;
  width: 80px;
  background: #262626;
  border-radius: 2px;  
  border: none;
  
  .button__link-register {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: #fff
  }
}

.main {
  padding: 0 10px;
}

.container__search-line {
  border-bottom: 1px solid #E0E0E0;
  position: relative;
  padding-bottom: 15px;
  margin: 50px 0;

  .search-input {
    width: 100%;
    border: none;
    padding: 0 35px;
    outline: none;
  }

  .search-input::placeholder, .search-input  {
    color: #626262;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .search-shape {
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.restourants__location-text {
  font-family: $main-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 20px;
}

.restourants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.card__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-around;

  .description__text {
    font-family: $main-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: $main-color-font;

  }
  .description__category {
    font-family: $main-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #626262;

  }
  .description__delivery-time {
    font-family: $main-font;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: $main-color-font;
  }
}

.container__card {
  margin-bottom: 30px;
}


.footer {
  margin-top: 50px;
  background-color:#262626;
  padding: 0 10px 10px;
  position: relative;

  .footer__container {
    max-width: 1124px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    .footer__container-logo {
      padding: 60px 0 40px;
      border-bottom: 1px solid #ffffff57;
    }

    .footer__container-info {
      padding: 30px 0 45px;
      position: relative;
      display: flex;
    }  
  }

  .up-scroll {
    border: none;
    height: 65px;
    width: 65px;
    position: absolute;
    bottom: 30px;
    background: #59BD5A;
    right: 20px;

    img {
      width: 22px;
    }
  }
}

.language__container {
  position: relative;
  
  .languages-social-links{
    height: 40px;
    padding: 0 50px;
    background: #3B3B3B;
    border-radius: 2px;
    border: none;
    font-family: $main-font;
    font-size: 13px;
    color: #fff;
    line-height: 15px;
    appearance: none;
    -webkit-appearance: none;
  }

  .world-icon {
    position: absolute;
    left: 16px;
    top: 11px;
  }

  .arrow-for-select {
    position: absolute;
    top: 16px;
  }

}

.htag-uber-eats {
  padding: 20px 0;
  
  a {
    font-family: $main-font;
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    span {
      color: #49A144;
    }
  }
}



.about-us-list, .addition-info-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;

  li a{
    font-family: $main-font;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
}

.links-to-market {
  padding: 20px 0;
  border-top: 1px solid #ffffff54;
  border-bottom: 1px solid #ffffff54;
  display: flex;

  .images-market {
    margin: auto;
  }
}

.copyright-items {
  display: flex;
  
  li a {
    font-family: $main-font;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    margin-top: 10px;
  }
}

// }

// .links-to-market {
//   height: 150px;
//   border-bottom: 1px solid #ffffff6b;
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   justify-content: center;

//   a {
//     margin: 0 20px;
//   }

// }

// .copyright-items {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
  
//   li a {
//     font-family: $main-font;
//     font-size: 11px;
//     line-height: 13px;
//     color: #fff;
//   }
// }



//   .nav__location {
//     position: relative;

//     .location__input-from {
//       height: 40px;
//       width: 65px;
//       padding: 10px;
//       border: 1px solid #E0E0E0;
//       border-radius: 2px;
//     }

//     .location__input-from::placeholder,.location__input-from {
//       color: $main-color-font;
//       font-family: $main-font;
//       font-size: 16px;
//       line-height: 24px;
//     }

//     .nav__location-text {
//       font-weight: 300;
//       font-size: 16px;
//       line-height: 19px;
//       color: #626262;
//       margin: 0 6px;
//     }

//     .location__input-to {
//       height: 40px;
//       width: 300px;
//       border: 1px solid #E0E0E0;
//       border-radius: 2px;
//       padding-left: 30px;
//     }

//     .location__input-to::placeholder, .location__input-to {
//       color: $main-color-font;
//       font-family: $main-font;
//       font-size: 16px;
//       line-height: 24px;
//     }

//     .location__logo {
//       position: absolute;
//       left: 105px;
//       top: 10px;
//     }
//   }

//   .nav__items {
//     display: flex;
//     align-items: center;

//   }
// }

// .main {
//   padding: 0 50px;
// }
// .container {
//   width: 100%;
//   margin: 30px auto 20px;




// }

// .restourants__location-text {
//   font-family: $main-font;
//   font-size: 22px;
//   line-height: 34px;
//   margin-bottom: 20px;
// }

// .restourants__cards {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-content: center;
  
//   .container__card {
//     margin: 0 10px 20px;
//   }
  
//   .card__description {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     height: 80px;
//     justify-content: space-around;

//     .description__text {
//       font-family: $main-font;
//       font-size: 16px;
//       font-weight: normal;
//       line-height: 24px;
//       color: $main-color-font;
//     }

//     .description__category {
//       font-family: $main-font;
//       font-weight: normal;
//       font-size: 14px;
//       line-height: 21px;
//       color: #626262;
//     }

//     .description__delivery-time {
//       font-family: $main-font;
//       font-weight: normal;
//       font-size: 13px;
//       line-height: 21px;
//       color: $main-color-font;
//     }
//   }
// }

// .footer {
//   margin-top: 50px;
//   background-color:#262626;
//   padding: 0 10px 30px;

//   .footer__container {
//     max-width: 1124px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     margin: auto;

//     .footer__container-logo {
//       padding: 60px 0 40px;
//       border-bottom: 1px solid #ffffff57;
//     }
//   }
// }

// .footer__container-info {
//   padding: 30px 0 55px;
//   border-bottom: 1px solid #ffffff54;
//   position: relative;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;

//   .language__container {
//     position: relative;
//   }

//   .languages-social-links{
//     width: 290px;
//     height: 40px;
//     padding: 0 50px;
//     background: #3B3B3B;
//     border-radius: 2px;
//     font-family: $main-font;
//     font-size: 13px;
//     color: #fff;
//     line-height: 15px;
//     appearance: none;
//     -webkit-appearance: none;
//   }

//   .arrow-for-select {
//     position: absolute;
//     top: 16px;
//     left: 256px;
//   }

//   .world-icon {
//     position: absolute;
//     left: 16px;
//     top: 11px;
//   }

  // .htag-uber-eats {
  //   padding: 20px 0;
    
  //   a {
  //     font-family: $main-font;
  //     font-size: 16px;
  //     line-height: 19px;
  //     color: #fff;

  //     span {
  //       color: #49A144;
  //     }
  //   }
  // }

//   .about-us-list, .addition-info-list {
//     display: flex;
//     height: 100%;
//     flex-direction: column;
//     justify-content: space-around;

//     li a{
//       font-family: $main-font;
//       font-size: 13px;
//       line-height: 15px;
//       color: #fff;
//     }
//   }

// }

// .links-to-market {
//   height: 150px;
//   border-bottom: 1px solid #ffffff6b;
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   justify-content: center;

//   a {
//     margin: 0 20px;
//   }

// }

// .copyright-items {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
  
//   li a {
//     font-family: $main-font;
//     font-size: 11px;
//     line-height: 13px;
//     color: #fff;
//   }
// }

