$main-color-font:#1D1D1D;
$main-font: "Roboto","sans-serif";
$breackpoint-small-device: 500px;

@mixin form-text-desctioption {
  color: $main-color-font;
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;
}

@mixin form-label-style {
  font-family: $main-font;
  color: #626262;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 5px;
}

@import 'reset';

@import 'smallScreen';

@import 'mediumScreen';

.header {
  padding: 16px 0;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
  max-width: 1324px;
}

.nav__button-singIn {
  height: 40px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  margin-left: 10px;

  .button__link-singIn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    color: $main-color-font;
  }
}

.nav__button-register {
  height: 40px;
  width: 80px;
  background: #262626;
  border-radius: 2px;  
  margin: 0 10px;
  border: none;
  
  .button__link-register {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: #fff
  }
}


.nav__location {
  position: relative;

  .location__input-from {
    height: 40px;
    width: 65px;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
  }

  .location__input-from::placeholder,.location__input-from {
    color: $main-color-font;
    font-family: $main-font;
    font-size: 16px;
    line-height: 24px;
  }

  .nav__location-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    margin: 0 6px;
  }

  .location__input-to {
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding-left: 30px;
  }

  .location__input-to::placeholder, .location__input-to {
    color: $main-color-font;
    font-family: $main-font;
    font-size: 16px;
    line-height: 24px;
  }

  .location__logo {
    position: absolute;
    left: 105px;
    top: 10px;
  }
}

.nav__items {
  display: flex;
  align-items: center;

}

.main {
  padding: 0 10px;
}

.container__search-line {
  border-bottom: 1px solid #E0E0E0;
  position: relative;
  padding-bottom: 15px;
  margin: 50px auto;
  max-width: 1324px;

  .search-input {
    width: 100%;
    border: none;
    padding: 0 35px;
    outline: none;
  }

  .search-input::placeholder, .search-input  {
    color: #626262;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .search-shape {
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.restourants__location-text {
  font-family: $main-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 20px;
  margin-left: 10%;

}

.restourants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.card__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  .description__text {
    font-family: $main-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: $main-color-font;

  }
  .description__category {
    font-family: $main-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #626262;

  }
  .description__delivery-time {
    font-family: $main-font;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: $main-color-font;
  }
}

.container__card {
  margin-bottom: 30px;
  max-width: 400px;
}

.container__card:hover {
  opacity: 0.6;
}


.footer {
  margin-top: 50px;
  background-color:#262626;
  padding: 0 10px 10px;
  position: relative;

  .footer__container {
    max-width: 1324px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    .footer__container-logo {
      padding: 60px 0 40px;
      border-bottom: 1px solid #ffffff57;
    }

    .footer__container-info {
      padding: 30px 0 45px;
      position: relative;
      display: flex;
    }  
  }

  .up-scroll {
    border: none;
    height: 65px;
    width: 65px;
    // margin-left: 90%;
    position: sticky;
    bottom: 30px;
    background: #59BD5A;
    right: 20px;

    img {
      width: 22px;
    }
  }
}

.language__container {
  position: relative;
  
  .languages-social-links{
    height: 40px;
    padding: 0 50px;
    background: #3B3B3B;
    border-radius: 2px;
    border: none;
    font-family: $main-font;
    min-width: 180px;
    font-size: 13px;
    color: #fff;
    line-height: 15px;
    appearance: none;
    -webkit-appearance: none;
  }

  .world-icon {
    position: absolute;
    left: 16px;
    top: 11px;
  }

  .arrow-for-select {
    position: absolute;
    top: 16px;
  }

}

.htag-uber-eats {
  padding: 20px 0;
  
  a {
    font-family: $main-font;
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    span {
      color: #49A144;
    }
  }
}



.about-us-list, .addition-info-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;

  li a{
    font-family: $main-font;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
}

.links-to-market {
  padding: 20px 0;
  border-top: 1px solid #ffffff54;
  border-bottom: 1px solid #ffffff54;
  display: flex;

  .images-market {
    margin: auto;
  }
}

.copyright-items {
  display: flex;
  
  li a {
    font-family: $main-font;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    margin-top: 10px;
  }
}

.footer__social, .about-us-info, .addition-info {
  width: 33.3%;
}

.copyright-items {
  li {
    width: 33.3%
  }
}
